$containerWidth: 1200px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;


//colors
$light: #FFF;
$hover:#C7C7C7;


//z-indexes

$z-fixed-menu: 100;

@import "media";

//normilize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

//setups
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import "layout";


//components
@import "components/logo";
@import "components/header";
@import "components/menu";
@import "components/section";
@import "components/hamburger";
@import "components/socials";
@import "components/listen";
@import "components/video";
@import "components/contact";
