@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: "Rubik Mono One", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #FFF;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  display: block;
  width: 85px;
  height: 35px;
  margin-left: 10px;
}
@media screen and (max-width: 480px) {
  .logo {
    margin-left: 0;
  }
}

.header {
  margin-top: 10px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .header__container {
    flex-direction: column;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .menu {
    margin-top: 10px;
    font-size: 16px;
    justify-content: flex-start;
  }
}
.menu__btn {
  display: none;
}
.menu__list {
  align-items: center;
  margin: 0 auto;
}
.menu__item {
  margin-right: 24px;
}
.menu__item:hover {
  cursor: pointer;
  text-shadow: 0 0 14px blue;
}
@media screen and (max-width: 480px) {
  .menu__item {
    margin-right: 5px;
  }
}
.menu__item:last-child {
  margin-right: 0;
}

.section {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
}

.hamburger {
  display: none;
  justify-content: center;
}
.hamburger__list {
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .hamburger__list {
    display: flex;
  }
}
.hamburger__item {
  margin-bottom: 10px;
}
.hamburger__item:last-child {
  margin-bottom: 0;
}

.socials {
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.socials__list {
  padding-top: 20px;
  margin-top: 10px;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.socials__item {
  max-width: 10%;
  margin-right: 30px;
}
.socials__item:last-child {
  margin-right: 0;
}

.listen {
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.listen__list {
  padding-top: 20px;
  margin-top: 10px;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.listen__item {
  max-width: 10%;
  margin-right: 30px;
}
.listen__item:last-child {
  margin-right: 0;
}

.video {
  margin-top: 2vh;
}
.video__screen {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.video__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20vw;
}
@media screen and (max-width: 768px) {
  .video__list {
    margin-left: 0;
  }
}
.video__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  max-width: 600px;
}
.video__frame {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
  justify-content: center;
}
.video__frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.contact {
  margin-top: 40vh;
}
.contact__mail {
  font-size: 30px;
}
.contact__mail:hover {
  text-shadow: 0 0 14px blue;
}
@media screen and (max-width: 768px) {
  .contact__mail {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .contact__mail {
    font-size: 14px;
  }
}