<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='keywords' content='royksopp, justise, daft punk, caroons, todd terje, gessafelstain, sonar, signal, media dom, armin van buren, alfa future people, dancefloor')
    meta(name='description' content='Only Drugs (OD) is Moscow based art-house online gang doing dance and soul frendly house stuff mixed with cartoon stories and artworks.​')
    link(rel="stylesheet" href="./css/main.css")
    link(rel='icon' type='image/png' href='./img/favicon.png' sizes='120x120')
    title OnlyDrugs
  body
    .section(data-vide-bg="./video/videobg")
      .header
        .container.header__container
          a(href="https://onlydrugs.net/").logo
            img.logo__pic(src="./img/OnlyDrugs_logo.png", alt="logo onlydrugs")
          nav.menu
            a.menu__btn MENU
            ul.menu__list
              li.menu__item
                a.menu__link(href="./pages/social")
                  .menu__text SOCIAL
              li.menu__item
                a.menu__link(href="./pages/listen")
                  .menu__text LISTEN
              li.menu__item
                a.menu__link(href="./pages/video")
                  .menu__text VIDEO
              li.menu__item
                a.menu__link(href="./pages/contact")
                  .menu__text CONTACT
      

    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='./js/jquery.vide.min.js')
    