<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../../css/main.css")
    link(rel='icon' type='image/png' href='../../img/favicon.png' sizes='120x120')
    title OnlyDrugs
  body
    .section(data-vide-bg="../../video/videobg")
      .header
        .container.header__container
          a.logo(href="https://onlydrugs.net/")
            img.logo__pic(src="../../img/OnlyDrugs_logo.png", alt="logo onlydrugs")
          nav.menu
            a.menu__btn MENU
            ul.menu__list
              li.menu__item
                a.menu__link(href="../social")
                  .menu__text SOCIAL
              li.menu__item
                a.menu__link(href="../listen")
                  .menu__text LISTEN
              li.menu__item
                a.menu__link(href="../video")
                  .menu__text VIDEO
              li.menu__item
                a.menu__link(href="../contact")
                  .menu__text CONTACT
      main.main
        .container
          .socials SOCIALS
            ul.socials__list
              li.socials__item
                a.socials__link(href="https://vk.com/onlydrugsmusic" target="_blank")
                  img(src="../../img/socials/vk.png", alt="иконка социалки")
              li.socials__item
                a.socials__link(href="https://www.facebook.com/onlydrugsmusic/" target="_blank")
                  img(src="../../img/socials/facebook.png", alt="иконка социалки")
              li.socials__item
                a.socials__link(href="https://soundcloud.com/onlydrugs/tracks" target="_blank")
                  img(src="../../img/socials//soundcloud.png", alt="иконка социалки")
              li.socials__item
                a.socials__link(href="https://www.instagram.com/onlydrugsmusic/" target="_blank")
                  img(src="../../img/socials/instagram.png", alt="иконка социалки")
              li.socials__item
                a.socials__link(href="https://www.youtube.com/channel/UCXuNH8_ZZXCsqEPQtS9yy2A" target="_blank")
                  img(src="../../img/socials/youtube.png", alt="иконка социалки")


    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='../../js/jquery.vide.min.js')
    